@model IEnumerable<ReposteriaLili_Front.Models.DTO.OrdenesDTOs.OrdenResponseDTO>
@{
    ViewData["Title"] = "ListarPedidosRealizados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de pedidos solicitados</h1>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ocupantes</th>
                <th>Tarifa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DescripcionIncidenteCliente</td>
                    <td>@item.DescripcionIncidenteRepartidor</td>
                    <td>@item.ImagenIncidenteCliente</td>
                    <td>@item.ImagenIncidenteRepartidor</td>
                    <td>@item.EstadoPedido</td>
                    <td>@item.FechaEntrega</td>
                    <td>@item.FechaSolicitud</td>
                    <td>@item.ImporteTotalOrden</td>
                    <td>@item.NumeroFolio</td>
                    <td>@item.TiempoEstimadoEntrega</td>
                    <td>@item.TiempoTardoEntrega</td>
                    <td>
                        <a asp-controller="Gerente" asp-action="AsignarRepartidor" asp-route-idOrden="@item.IdOrden" class="btn btn-success"><i class="bi bi-truck"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>